<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description"
    content="Indoresto is a website that provides restaurant references in various cities in Indonesia that you can use as a place to enjoy a meal or spend time with friends">
  <meta name="theme-color" content="#459f2e" />
  <link rel="apple-touch-icon" href="/icons/icon_192x192.png">
  <link rel="manifest" href="./manifest.json">
  <link rel="icon" href="./favicon.png">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
  <title>Indoresto | Get the best restaurant information in Indonesia</title>
</head>

<body>
  <a href="#main-content" class="skip-link">Menuju ke konten</a>
  <header>
    <div class="header__inner">
      <h1 class="header__title">
        INDORESTO
      </h1>
    </div>
    <button role="button" aria-label="button menu" id="menu" class="header__menu">☰</button>
    <nav id="drawer">
      <div class="nav__header">
        <img class="image__profile"
          src="https://d17ivq9b7rppb3.cloudfront.net/small/avatar/20210723222259ae7872649b3839ba19c88816168b7b81.png"
          alt="image profile" />
        <h1 class="title__name">Fery Irawan</h1>
        <h2 class="title__email">fery21irawan.me@gmail.com</h2>
      </div>
      <ul class="nav__list">
        <li class="nav__item">
          <a href="#/home">Home</a>
        </li>
        <li class="nav__item">
          <a href="#/favorit">Favorit</a>
        </li>
        <li class="nav__item">
          <a href="https://www.linkedin.com/in/ferys2195" target="_blank" rel="noreferrer">About Us</a>
        </li>
      </ul>
    </nav>
  </header>
  <div class="hero">
    <div class="hero__inner">
      <h1 class="hero__title">Restoran Favorit Banyak Orang</h1>
      <p class="hero__tagline">Temukan tempat untuk menikmati hidangan hari ini</p>
    </div>
  </div>
  <main id="main-content" tabindex="0" class="container">
  </main>
  <footer>
    <span class="copyright">Copyright &copy; 2022 - INDORESTO</span>
  </footer>
</body>

</html>